# Load Modules

In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
from IPython.display import display
from tqdm import tqdm
%reload_ext autoreload
%autoreload 2

# Load Source list files

In [2]:
## This is for CV-old dataset
source = pd.read_csv('../source_list/cv_old_updated/0-150.csv')
source

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,0,CV,CV0001,[DSH2013]_24___________,204.083083,-29.852333,M83XMM__________,XMM-NEWTON___,2CXO_J133620.0-295106_,204.083487,-29.851710,3,0.043
1,1,CV,CV0002,[HPH2013]_100__________,10.654490,41.241180,M31CFCXO________,CHANDRA______,2CXO_J004237.0+411428_,10.654579,41.241130,33,0.005
2,2,CV,CV0003,[HPH2013]_101__________,10.655350,41.286130,M31CFCXO________,CHANDRA______,2CXO_J004237.3+411709_,10.655445,41.286063,0,0.006
3,3,CV,CV0004,[HPH2013]_103__________,10.659720,41.275250,M31CFCXO________,CHANDRA______,2CXO_J004238.3+411630_,10.659826,41.275199,0,0.006
4,4,CV,CV0005,[HPH2013]_108__________,10.662590,41.223810,M31CFCXO________,CHANDRA______,2CXO_J004239.0+411325_,10.662678,41.223761,33,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,CV,CV0108,IGR_J19267+1325________,291.612000,13.368000,IBISCAT_________,INTEGRAL_____,2CXO_J192626.9+132205_,291.612433,13.368080,1,0.026
108,108,CV,CV0109,V*_TX_COL______________,85.834417,-41.031750,RASSUSNOID______,ROSAT________,2CXO_J054320.3-410154_,85.834815,-41.031932,1,0.021
109,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
110,110,CV,CV0111,XMMSL2_J033112.3+435412,52.801643,43.903390,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J033111.9+435415_,52.799982,43.904258,2,0.089
111,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

In [4]:
source = source[source['num_obs']>0]
source = source.replace(np.nan , np.nan).sort_values('num_obs' , ascending=False).reset_index(drop=True)
display(source)

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,17,CV,CV0018,[HPH2013]_176__________,10.687660,41.255870,M31CFCXO________,CHANDRA______,2CXO_J004245.0+411520_,10.687728,41.255816,127,0.004
1,9,CV,CV0010,[HPH2013]_142__________,10.678150,41.262470,M31CFCXO________,CHANDRA______,2CXO_J004242.7+411544_,10.678273,41.262422,104,0.006
2,16,CV,CV0017,[HPH2013]_169__________,10.684970,41.269520,M31CFCXO________,CHANDRA______,2CXO_J004244.3+411608_,10.684755,41.269000,102,0.033
3,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
4,20,CV,CV0021,[HPH2013]_205__________,10.702900,41.274060,M31CFCXO________,CHANDRA______,2CXO_J004248.7+411626_,10.702984,41.274022,97,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,101,CV,CV0102,IGR_J15529-5029________,238.195000,-50.498000,IBISCAT_________,INTEGRAL_____,2CXO_J155246.9-502953_,238.195492,-50.498168,1,0.021
83,94,CV,CV0095,CXOU_J192035.7+374452__,290.148996,37.747852,NGC6791CXO______,CHANDRA______,2CXO_J192035.7+374452_,290.148921,37.747795,1,0.005
84,107,CV,CV0108,IGR_J19267+1325________,291.612000,13.368000,IBISCAT_________,INTEGRAL_____,2CXO_J192626.9+132205_,291.612433,13.368080,1,0.026
85,106,CV,CV0107,IGR_J18308-1232________,277.708000,-12.539000,IBISCAT_________,INTEGRAL_____,2CXO_J183049.9-123219_,277.708107,-12.538639,1,0.023
86,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

# Read Chandra data files

In [6]:
ch_names = []
ch_ra = []
ch_dec = []
offset = []
src_id_list = [] 
n_obs_list = []
df_combined = pd.DataFrame()
for index in tqdm(range(len(source))):
    s = source['A_NAME'][index]
    df = pd.read_csv('../data/all_data/cv_old_data_all/'+s+'.csv' , index_col='index').sort_values('sepn').reset_index(drop=True)
    #display(df)
    top_match = df.loc[0]
    # Select only the source , which has highest cross-matching 
    # And create an array with this seperation value to be stored in original source list table
    # such that source list table have chandra source name , number of actual obs  and seperation.
    # Select all the obs of this cross match and append in all data file

    # Put actual source name , and give source id and obs id in this data
    df_select = df[df['name']==top_match['name']].reset_index(drop=True)
    n_obs_cur = len(df_select)
    obs_id = ['CV_'+str(index)+'_obs_'+str(i) for i in range(len(df_select))]
    src_id = ['CV_'+str(index)]*len(df_select)
    df_select.insert(0 ,'src_id' , src_id)
    df_select.insert(1 ,'obs_id' , obs_id)
    df_select.insert(2, 'num_obs' , [str(len(df_select))]*len(df_select))
    top_row = df_select.iloc[0]
    ch_names.append(top_row['name'])
    ch_ra.append(top_row['ra'])
    ch_dec.append(top_row['dec'])
    offset.append(top_row['sepn'])
    n_obs_list.append(len(df_select))
    src_id_list.append('CV_'+str(index))
    #display(df_select)
    df_combined = df_combined.append(df_select)
source_updated = source.copy().reset_index(drop=True)
source_updated.insert(7 , 'chandra_name' , ch_names)
source_updated.insert(8 , 'ch_ra' , ch_ra)
source_updated.insert(9 , 'ch_dec' , ch_dec)
source_updated.insert(10 , 'xoffset' , offset)
source_updated.insert(11 , 'num_obs_used' , n_obs_list)
source_updated = source.reset_index(drop=True)
display(source_updated)
#display(df_combined)
df_combined = df_combined.reset_index(drop=True)
df_combined = df_combined.set_index('obs_id')
df_combined

100%|██████████| 87/87 [00:05<00:00, 16.11it/s]

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,17,CV,CV0018,[HPH2013]_176__________,10.687660,41.255870,M31CFCXO________,CHANDRA______,2CXO_J004245.0+411520_,10.687728,41.255816,127,0.004
1,9,CV,CV0010,[HPH2013]_142__________,10.678150,41.262470,M31CFCXO________,CHANDRA______,2CXO_J004242.7+411544_,10.678273,41.262422,104,0.006
2,16,CV,CV0017,[HPH2013]_169__________,10.684970,41.269520,M31CFCXO________,CHANDRA______,2CXO_J004244.3+411608_,10.684755,41.269000,102,0.033
3,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
4,20,CV,CV0021,[HPH2013]_205__________,10.702900,41.274060,M31CFCXO________,CHANDRA______,2CXO_J004248.7+411626_,10.702984,41.274022,97,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,101,CV,CV0102,IGR_J15529-5029________,238.195000,-50.498000,IBISCAT_________,INTEGRAL_____,2CXO_J155246.9-502953_,238.195492,-50.498168,1,0.021
83,94,CV,CV0095,CXOU_J192035.7+374452__,290.148996,37.747852,NGC6791CXO______,CHANDRA______,2CXO_J192035.7+374452_,290.148921,37.747795,1,0.005
84,107,CV,CV0108,IGR_J19267+1325________,291.612000,13.368000,IBISCAT_________,INTEGRAL_____,2CXO_J192626.9+132205_,291.612433,13.368080,1,0.026
85,106,CV,CV0107,IGR_J18308-1232________,277.708000,-12.539000,IBISCAT_________,INTEGRAL_____,2CXO_J183049.9-123219_,277.708107,-12.538639,1,0.023
86,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

,src_id,num_obs,sepn,instrument,detect_stack_id,name,ra,dec,obsid,obi,...,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,4360,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_1,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15328,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_2,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15327,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_3,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15326,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_4,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15325,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_82_obs_0,CV_82,1,0.000000,ACIS,acisfJ1552542m502902_001,2CXO J155246.9-502953,238.19550,-50.49817,9062,0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_83_obs_0,CV_83,1,0.003074,ACIS,acisfJ1920493p374640_001,2CXO J192035.7+374452,290.14890,37.74779,4510,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_84_obs_0,CV_84,1,0.003074,ACIS,acisfJ1926410p132558_001,2CXO J192626.9+132205,291.61240,13.36808,9075,0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_85_obs_0,CV_85,1,0.000000,ACIS,acisfJ1830460m123129_001,2CXO J183049.9-123219,277.70810,-12.53864,9055,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_86_obs_0,CV_86,1,0.004347,ACIS,acisfJ1227585m485324_001,2CXO J122758.7-485343,186.99480,-48.89537,16561,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0

## Save raw table

In [7]:
df_combined.replace(np.nan , '')
df_combined.to_csv('cv_raw_data.csv' ,)

## Filter flags

In [8]:
from features import col_to_drop

In [9]:
df = pd.read_csv('cv_raw_data.csv' , index_col='obs_id')
filter_flags = [
    'pileup_flag',
    'mstr_sat_src_flag',
    'mstr_streak_src_flag',
    'sat_src_flag',
    'streak_src_flag',
    ]
df = df.replace({
    '  NAN' : np.nan , 
    '      NaN' : np.nan , 
    'FALSE' : False , 
    'False' : False , 
    ' TRUE' : True , 
    
    })
print('BEFORE FILTERING')
display(df)
for f in filter_flags:
    df = df[df[f]==False]
print('AFTER FILTERING')
#display(df)
df = df.drop(columns=col_to_drop)
df

BEFORE FILTERING

,src_id,num_obs,sepn,instrument,detect_stack_id,name,ra,dec,obsid,obi,...,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,4360,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_1,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15328,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_2,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15327,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_3,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15326,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_4,CV_0,33,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15325,0,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_82_obs_0,CV_82,1,0.000000,ACIS,acisfJ1552542m502902_001,2CXO J155246.9-502953,238.19550,-50.49817,9062,0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_83_obs_0,CV_83,1,0.003074,ACIS,acisfJ1920493p374640_001,2CXO J192035.7+374452,290.14890,37.74779,4510,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_84_obs_0,CV_84,1,0.003074,ACIS,acisfJ1926410p132558_001,2CXO J192626.9+132205,291.61240,13.36808,9075,0,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_85_obs_0,CV_85,1,0.000000,ACIS,acisfJ1830460m123129_001,2CXO J183049.9-123219,277.70810,-12.53864,9055,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_86_obs_0,CV_86,1,0.004347,ACIS,acisfJ1227585m485324_001,2CXO J122758.7-485343,186.99480,-48.89537,16561,1,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0

AFTER FILTERING

,src_id,num_obs,sepn,name,ra,dec,photflux_aper_s,photflux_aper_lolim_s,photflux_aper_hilim_s,flux_aper_s,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,0.0,0.0,7.766e-07,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,0.0,0.0,1.703e-06,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,1.555e-06,0.0,3.109e-06,2.936e-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,0.0,0.0,1.4919999999999999e-06,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,0.0,0.0,1.476e-06,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_77_obs_0,CV_77,1,0.000000,2CXO J192105.4+374457,290.27270,37.74944,4.0799999999999995e-07,2.517e-07,5.642e-07,7.936e-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_78_obs_0,CV_78,1,0.000000,2CXO J192107.4+374756,290.28080,37.79900,5.902000000000001e-07,4.0049999999999997e-07,7.798999999999999e-07,9.515e-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_82_obs_0,CV_82,1,0.000000,2CXO J155246.9-502953,238.19550,-50.49817,1.152e-05,8.02e-06,1.501e-05,1.634e-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,CV_83,1,0.003074,2CXO J192035.7+374452,290.14890,37.74779,4.167e-06,3.5330000000000003e-06,4.763e-06,6.382e-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,CV_86,1,0.004347,2CXO J122758.7-485343,186.99480,-48.89537,2.165e-05,1.998e-05,2.332e-05,3.936e-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
from features import arranged_cols  , id_cols

In [11]:
df_id = df[id_cols]
df_val = df.drop(columns=id_cols)
val_col_list = df_val.columns.to_list()
for v in val_col_list:
    df_val.loc[:,v] = pd.to_numeric(df_val.loc[:,v])
df_val

,photflux_aper_s,photflux_aper_lolim_s,photflux_aper_hilim_s,flux_aper_s,flux_aper_lolim_s,flux_aper_hilim_s,streak_src_flag,likelihood_b,likelihood_h,likelihood_m,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,0.000000e+00,0.000000e+00,7.766000e-07,0.000000e+00,0.000000e+00,1.375000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,0.000000e+00,0.000000e+00,1.703000e-06,0.000000e+00,0.000000e+00,2.319000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,1.555000e-06,0.000000e+00,3.109000e-06,2.936000e-15,1.727000e-16,5.699000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,0.000000e+00,0.000000e+00,1.492000e-06,0.000000e+00,0.000000e+00,2.031000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,0.000000e+00,0.000000e+00,1.476000e-06,0.000000e+00,0.000000e+00,2.011000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_77_obs_0,4.080000e-07,2.517000e-07,5.642000e-07,7.936000e-16,4.897000e-16,1.098000e-15,False,47.55,10.34,22.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_78_obs_0,5.902000e-07,4.005000e-07,7.799000e-07,9.515000e-16,6.401000e-16,1.263000e-15,False,60.11,3.90,25.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_82_obs_0,1.152000e-05,8.020000e-06,1.501000e-05,1.634000e-14,1.138000e-14,2.130000e-14,False,1454.74,1109.04,353.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,4.167000e-06,3.533000e-06,4.763000e-06,6.382000e-15,5.428000e-15,7.336000e-15,False,767.66,210.24,290.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,2.165000e-05,1.998000e-05,2.332000e-05,3.936000e-14,3.627000e-14,4.226000e-14,False,5192.96,2344.62,1732.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_ok = pd.concat([df_id , df_val] , axis=1)
df_ok

,src_id,num_obs,sepn,name,ra,dec,livetime,significance,likelihood,photflux_aper_s,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,4903.5,11.31,304.46460,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,3974.2,11.31,304.46460,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,1.555000e-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,CV_0,33,0.000000,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_77_obs_0,CV_77,1,0.000000,2CXO J192105.4+374457,290.27270,37.74944,48166.3,4.06,47.54791,4.080000e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_78_obs_0,CV_78,1,0.000000,2CXO J192107.4+374756,290.28080,37.79900,48166.3,4.40,60.11230,5.902000e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_82_obs_0,CV_82,1,0.000000,2CXO J155246.9-502953,238.19550,-50.49817,5071.0,14.12,1454.74400,1.152000e-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,CV_83,1,0.003074,2CXO J192035.7+374452,290.14890,37.74779,48163.1,10.90,767.66380,4.167000e-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,CV_86,1,0.004347,2CXO J122758.7-485343,186.99480,-48.89537,30178.9,27.61,5192.96500,2.165000e-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
flux_cols = ['flux_aper_b' , 'flux_aper_s' , 'flux_aper_m' , 'flux_aper_h' , 'flux_aper_u']
df_flux_filt = df_ok.copy().replace(0 , np.nan).replace(np.nan , -9987)
for f in flux_cols:
    df_flux_filt = df_flux_filt.query(f+'<1e-12')
df_flux_filt = df_flux_filt.replace(-9987 , np.nan)
df_flux_filt

,src_id,num_obs,sepn,name,ra,dec,livetime,significance,likelihood,photflux_aper_s,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,NaN,2CXO J004245.0+411520,10.68773,41.25582,4903.5,11.31,304.46460,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,CV_0,33,NaN,2CXO J004245.0+411520,10.68773,41.25582,3974.2,11.31,304.46460,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,CV_0,33,NaN,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,1.555000e-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,CV_0,33,NaN,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,CV_0,33,NaN,2CXO J004245.0+411520,10.68773,41.25582,3907.5,11.31,304.46460,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_76_obs_0,CV_76,1,NaN,2CXO J192056.2+374613,290.23460,37.77028,48166.3,10.63,743.94560,2.298000e-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_77_obs_0,CV_77,1,NaN,2CXO J192105.4+374457,290.27270,37.74944,48166.3,4.06,47.54791,4.080000e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_78_obs_0,CV_78,1,NaN,2CXO J192107.4+374756,290.28080,37.79900,48166.3,4.40,60.11230,5.902000e-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,CV_83,1,0.003074,2CXO J192035.7+374452,290.14890,37.74779,48163.1,10.90,767.66380,4.167000e-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,CV_86,1,0.004347,2CXO J122758.7-485343,186.99480,-48.89537,30178.9,27.61,5192.96500,2.165000e-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df_flux_filt.to_csv('cv_data.csv')