In [1]:
import numpy as np 
import pandas as pd 
import astropy.units as u
from astropy.coordinates import SkyCoord

In [2]:
from astropy.io import fits
import pandas as pd

In [9]:
cv = fits.open('../data/CVs/CV_mid_set.fits')[1].data 
cv = pd.DataFrame(cv)
display(cv)
cv.to_csv('../data/CVs/CV_mid_set.csv')

,A_NAME,A_RA,A_DEC,A_COUNT_RATE,A_COUNT_RATE_ERROR,A_FLUX,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,B_SIGNIFICANCE,B_B_FLUX_AP,B_B_FLUX_AP_HI,B_B_FLUX_AP_LO,B_M_FLUX_AP,B_M_FLUX_AP_HI,B_M_FLUX_AP_LO,XOFFSET_
0,CXOGLB J002404.9-720506,6.020883,-72.085058,0.000337,0.000086,2.338000e-15,GC47TUCCXO,CHANDRA,2CXO J002404.6-720509,6.019509,-72.085948,2.318,0.000000e+00,9.20E-17,0.00E+00,0.000000e+00,,,0.059
1,CXOGLB J002404.9-720506,6.020650,-72.085022,0.000059,0.000019,3.543000e-16,GC47TUCCXO,CHANDRA,2CXO J002404.6-720509,6.019509,-72.085948,2.318,0.000000e+00,9.20E-17,0.00E+00,0.000000e+00,,,0.059
2,CXOGLB J002406.0-720456,6.024962,-72.082272,0.004440,0.000263,3.157000e-14,GC47TUCCXO,CHANDRA,2CXO J002406.4-720451,6.026713,-72.081007,2.773,2.910000e-16,5.11E-16,7.02E-17,1.940000e-16,3.54E-16,2.53E-17,0.083
3,CXOGLB J002406.0-720456,6.024983,-72.082272,0.003116,0.000109,1.807000e-14,GC47TUCCXO,CHANDRA,2CXO J002406.4-720451,6.026713,-72.081007,2.773,2.910000e-16,5.11E-16,7.02E-17,1.940000e-16,3.54E-16,2.53E-17,0.082
4,XMMSL2 J002402.8-720447,6.020720,-72.081412,1.152000,0.480100,3.638000e-12,XMMSLEWCLN,XMM-NEWTON,2CXO J002406.4-720451,6.026713,-72.081007,2.773,2.910000e-16,5.11E-16,7.02E-17,1.940000e-16,3.54E-16,2.53E-17,0.113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,XMMSL2 J193839.8+303027,294.666620,30.507608,1.205000,0.437800,3.806000e-12,XMMSLEWCLN,XMM-NEWTON,2CXO J193840.1+303028,294.667085,30.507841,83.340,2.470000e-12,2.52E-12,2.42E-12,1.450000e-13,1.51E-13,1.38E-13,0.028
536,XMMSL2 J193839.8+303027,294.668083,30.508196,0.721500,0.326100,2.279000e-12,XMMSLEWCLN,XMM-NEWTON,2CXO J193840.1+303028,294.667085,30.507841,83.340,2.470000e-12,2.52E-12,2.42E-12,1.450000e-13,1.51E-13,1.38E-13,0.056
537,1RXS J193840.0+303035,294.666667,30.509722,0.080000,0.010000,0.000000e+00,RASS2MASS,ROSAT,2CXO J193840.1+303028,294.667085,30.507841,83.340,2.470000e-12,2.52E-12,2.42E-12,1.450000e-13,1.51E-13,1.38E-13,0.115
538,CHI J194939+2631_1,297.409917,26.530278,0.066280,0.006686,0.000000e+00,CHICAGOCXO,CHANDRA,2CXO J194938.3+263149,297.409922,26.530282,13.070,1.000000e-12,1.08E-12,9.26E-13,5.620000e-14,6.57E-14,4.67E-14,0.000
539,2XMM J231519.0-591029,348.829250,-59.174770,0.000000,0.000000,3.780000e-13,XMMSSCLWBS,XMM-NEWTON,2CXO J231518.9-591028,348.828827,-59.174549,10.040,2.530000e-14,2.85E-14,2.22E-14,6.520000e-15,7.52E-15,5.52E-15,0.019

In [64]:
gc = pd.read_csv('gc_cat.csv')
obj = pd.read_csv('source_list/NS_data_clean_source_list.csv')

In [66]:
obj.shape

(83, 16)

In [57]:
display(gc.iloc[151])
display(obj.iloc[14])

ID            NGC-7078
Name     M 15
RA         21 29 58.33
DEC        +12 10 01.2
Name: 151, dtype: object

SRC_ID                              NS0015
A_NAME               4U 2129+12
A_RA                            322.492917
A_DEC                              12.1675
A_DATABASE_TABLE          INTREFCAT
A_OBSERVATORY                INTEGRAL
B_NAME              2CXO J212958.1+121002
B_RA                            322.492171
B_DEC                            12.167285
XOFFSET_                             0.046
Name: 14, dtype: object

In [60]:
def find_sep(ra1,dec1 , ra2, dec2):
    c1 = SkyCoord(ra1, dec1, frame='icrs' , unit=(u.deg))
    c2 = SkyCoord(ra2, dec2, frame='icrs' , unit=(u.hourangle , u.deg))
    sep = c1.separation(c2)
    return (sep)

In [34]:
ra1 = obj.iloc[14]['B_RA']
dec1 = obj.iloc[14]['B_DEC']
ra2 = gc.iloc[151]['RA']
dec2 = gc.iloc[151]['DEC']
print(ra1 , dec1 , ra2 , dec2)

322.492171 12.167285 21 29 58.33 +12 10 01.2

In [35]:
print(ra2, dec2)

21 29 58.33 +12 10 01.2

In [58]:
SkyCoord('21 29 58.33' , '+12 10 01.2', frame='fk5' , unit=(u.hourangle , u.deg))

<SkyCoord (FK5: equinox=J2000.000): (ra, dec) in deg
    (322.49304167, 12.167)>

In [61]:
SkyCoord(ra2, dec2, frame='fk4' , unit=(u.hourangle , u.deg))

<SkyCoord (FK4: equinox=B1950.000, obstime=B1950.000): (ra, dec) in deg
    (322.49304167, 12.167)>

In [63]:
find_sep(ra1 , dec1 , ra2 , dec2).arcsec

3.231210503461338