# Load Modules

In [38]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
from IPython.display import display
from tqdm import tqdm
%reload_ext autoreload
%autoreload 2

# Load Source list files

In [39]:
## This is for CV-old dataset
source = pd.read_csv('../source_list/cv_old_updated/0-150.csv')
source

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,0,CV,CV0001,[DSH2013]_24___________,204.083083,-29.852333,M83XMM__________,XMM-NEWTON___,2CXO_J133620.0-295106_,204.083487,-29.851710,3,0.043
1,1,CV,CV0002,[HPH2013]_100__________,10.654490,41.241180,M31CFCXO________,CHANDRA______,2CXO_J004237.0+411428_,10.654579,41.241130,33,0.005
2,2,CV,CV0003,[HPH2013]_101__________,10.655350,41.286130,M31CFCXO________,CHANDRA______,2CXO_J004237.3+411709_,10.655445,41.286063,0,0.006
3,3,CV,CV0004,[HPH2013]_103__________,10.659720,41.275250,M31CFCXO________,CHANDRA______,2CXO_J004238.3+411630_,10.659826,41.275199,0,0.006
4,4,CV,CV0005,[HPH2013]_108__________,10.662590,41.223810,M31CFCXO________,CHANDRA______,2CXO_J004239.0+411325_,10.662678,41.223761,33,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,CV,CV0108,IGR_J19267+1325________,291.612000,13.368000,IBISCAT_________,INTEGRAL_____,2CXO_J192626.9+132205_,291.612433,13.368080,1,0.026
108,108,CV,CV0109,V*_TX_COL______________,85.834417,-41.031750,RASSUSNOID______,ROSAT________,2CXO_J054320.3-410154_,85.834815,-41.031932,1,0.021
109,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
110,110,CV,CV0111,XMMSL2_J033112.3+435412,52.801643,43.903390,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J033111.9+435415_,52.799982,43.904258,2,0.089
111,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

In [40]:
source = source[source['num_obs']>0]
source = source.replace(np.nan , np.nan).sort_values('num_obs' , ascending=False).reset_index(drop=True)
display(source)

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,17,CV,CV0018,[HPH2013]_176__________,10.687660,41.255870,M31CFCXO________,CHANDRA______,2CXO_J004245.0+411520_,10.687728,41.255816,127,0.004
1,9,CV,CV0010,[HPH2013]_142__________,10.678150,41.262470,M31CFCXO________,CHANDRA______,2CXO_J004242.7+411544_,10.678273,41.262422,104,0.006
2,16,CV,CV0017,[HPH2013]_169__________,10.684970,41.269520,M31CFCXO________,CHANDRA______,2CXO_J004244.3+411608_,10.684755,41.269000,102,0.033
3,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
4,20,CV,CV0021,[HPH2013]_205__________,10.702900,41.274060,M31CFCXO________,CHANDRA______,2CXO_J004248.7+411626_,10.702984,41.274022,97,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,78,CV,CV0079,CXOGLB_J002405.3-720421,6.022350,-72.072647,GC47TUCCXO______,CHANDRA______,2CXO_J002405.3-720421_,6.022490,-72.072679,1,0.003
83,60,CV,CV0061,2XMM_J190109.3-220003__,285.288670,-22.001120,XMMSSCLWBS______,XMM-NEWTON___,2CXO_J190109.3-220005_,285.288993,-22.001639,1,0.036
84,61,CV,CV0062,2XMM_J231519.0-591029__,348.829250,-59.174770,XMMSSCLWBS______,XMM-NEWTON___,2CXO_J231518.9-591028_,348.828827,-59.174549,1,0.019
85,62,CV,CV0063,CHI_J162011-5002_1_____,245.027875,-50.033056,CHICAGOCXO______,CHANDRA______,2CXO_J162006.7-500159_,245.027924,-50.033097,1,0.003
86,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

# Read Chandra data files

In [41]:
ch_names = []
ch_ra = []
ch_dec = []
offset = []
src_id_list = [] 
n_obs_list = []
df_combined = pd.DataFrame()
for index in tqdm(range(len(source))):
    s = source['A_NAME'][index]
    df = pd.read_csv('../data/all_data/cv_old_data_all/'+s+'.csv' , index_col='index').sort_values('sepn').reset_index(drop=True)
    #display(df)
    top_match = df.loc[0]
    # Select only the source , which has highest cross-matching 
    # And create an array with this seperation value to be stored in original source list table
    # such that source list table have chandra source name , number of actual obs  and seperation.
    # Select all the obs of this cross match and append in all data file

    # Put actual source name , and give source id and obs id in this data
    df_select = df[df['name']==top_match['name']].reset_index(drop=True)
    #df_select = df_select.drop(columns=['name'])
    #display(df_select.head())
    #break
    n_obs_cur = len(df_select)
    obs_id = ['CV_'+str(index)+'_obs_'+str(i) for i in range(len(df_select))]
    src_id = ['CV_'+str(index)]*len(df_select)
    df_select.insert(0 ,'src_id' , src_id)
    df_select.insert(1 ,'obs_id' , obs_id)
    df_select.insert(2, 'num_obs' , [str(len(df_select))]*len(df_select))
    df_select.insert(3 , 'src_n' , [s]*len(df_select))
    top_row = df_select.iloc[0]
    ch_names.append(top_row['name'])
    ch_ra.append(top_row['ra'])
    ch_dec.append(top_row['dec'])
    offset.append(top_row['sepn'])
    n_obs_list.append(len(df_select))
    src_id_list.append('CV_'+str(index))
    #display(df_select)
    df_combined = df_combined.append(df_select)
source_updated = source.copy().reset_index(drop=True)
source_updated.insert(7 , 'chandra_name' , ch_names)
source_updated.insert(8 , 'ch_ra' , ch_ra)
source_updated.insert(9 , 'ch_dec' , ch_dec)
source_updated.insert(10 , 'xoffset' , offset)
source_updated.insert(11 , 'num_obs_used' , n_obs_list)
source_updated = source.reset_index(drop=True)
display(source_updated)
#display(df_combined)
df_combined = df_combined.reset_index(drop=True)
df_combined = df_combined.set_index('obs_id')
df_combined

100%|██████████| 87/87 [00:05<00:00, 14.74it/s]

,Unnamed: 0,type,SRC_ID,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,num_obs,XOFFSET_
0,17,CV,CV0018,[HPH2013]_176__________,10.687660,41.255870,M31CFCXO________,CHANDRA______,2CXO_J004245.0+411520_,10.687728,41.255816,127,0.004
1,9,CV,CV0010,[HPH2013]_142__________,10.678150,41.262470,M31CFCXO________,CHANDRA______,2CXO_J004242.7+411544_,10.678273,41.262422,104,0.006
2,16,CV,CV0017,[HPH2013]_169__________,10.684970,41.269520,M31CFCXO________,CHANDRA______,2CXO_J004244.3+411608_,10.684755,41.269000,102,0.033
3,109,CV,CV0110,XMMSL2_J004231.9+411621,10.633182,41.272599,XMMSLEWCLN______,XMM-NEWTON___,2CXO_J004231.1+411621_,10.629760,41.272666,102,0.154
4,20,CV,CV0021,[HPH2013]_205__________,10.702900,41.274060,M31CFCXO________,CHANDRA______,2CXO_J004248.7+411626_,10.702984,41.274022,97,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,78,CV,CV0079,CXOGLB_J002405.3-720421,6.022350,-72.072647,GC47TUCCXO______,CHANDRA______,2CXO_J002405.3-720421_,6.022490,-72.072679,1,0.003
83,60,CV,CV0061,2XMM_J190109.3-220003__,285.288670,-22.001120,XMMSSCLWBS______,XMM-NEWTON___,2CXO_J190109.3-220005_,285.288993,-22.001639,1,0.036
84,61,CV,CV0062,2XMM_J231519.0-591029__,348.829250,-59.174770,XMMSSCLWBS______,XMM-NEWTON___,2CXO_J231518.9-591028_,348.828827,-59.174549,1,0.019
85,62,CV,CV0063,CHI_J162011-5002_1_____,245.027875,-50.033056,CHICAGOCXO______,CHANDRA______,2CXO_J162006.7-500159_,245.027924,-50.033097,1,0.003
86,111,CV,CV0112,XSS_J12270-4859________,186.994583,-48.895278,INTREFCAT_______,INTEGRAL_____,2CXO_J122758.7-485343_,186.994816,-48.895370,1,0.011

,src_id,num_obs,src_n,sepn,instrument,detect_stack_id,name,ra,dec,obsid,...,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u,acis_num,acis_hetg_num,acis_letg_num,hrc_num,hrc_hetg_num,hrc_letg_num
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,[HPH2013]_176__________,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,4360,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_1,CV_0,33,[HPH2013]_176__________,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15328,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_2,CV_0,33,[HPH2013]_176__________,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15327,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_3,CV_0,33,[HPH2013]_176__________,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15326,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
CV_0_obs_4,CV_0,33,[HPH2013]_176__________,0.000000,ACIS,acisfJ0042424p411621_001,2CXO J004245.0+411520,10.68773,41.25582,15325,...,NaN,NaN,NaN,NaN,103,0,0,63,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_82_obs_0,CV_82,1,CXOGLB_J002405.3-720421,0.004347,ACIS,acisfJ1231126m141108_001,2CXO J123111.3-141143,187.79710,-14.19553,15362,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_83_obs_0,CV_83,1,2XMM_J190109.3-220003__,0.000000,ACIS,acisfJ1900580m220552_001,2CXO J190109.3-220005,285.28900,-22.00164,3774,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_84_obs_0,CV_84,1,2XMM_J231519.0-591029__,0.000000,ACIS,acisfJ2315509m590334_001,2CXO J231518.9-591028,348.82880,-59.17455,2037,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_85_obs_0,CV_85,1,CHI_J162011-5002_1_____,0.000000,ACIS,acisfJ1620131m500159_001,2CXO J162006.7-500159,245.02790,-50.03310,9602,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
CV_86_obs_0,CV_86,1,XSS_J12270-4859________,0.004347,ACIS,acisfJ1227585m485324_001,2CXO J122758.7-485343,186.99480,-48.89537,16561,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0

## Save raw table

In [42]:
df_combined.replace(np.nan , '')
df_combined.to_csv('raw_data/cv_old_raw_data.csv' ,)

## Filter flags

In [43]:
from features import col_to_drop

In [54]:
df = pd.read_csv('raw_data/cv_old_raw_data.csv' , index_col='obs_id')
filter_flags = [
    'pileup_flag',
    'mstr_sat_src_flag',
    'mstr_streak_src_flag',
    'sat_src_flag',
    'streak_src_flag',
    ]
df = df.replace({
    '  NAN' : np.nan , 
    '      NaN' : np.nan , 
    'FALSE' : False , 
    'False' : False , 
    ' TRUE' : True , 
    
    })
print('BEFORE FILTERING')
print('Number of sources , obs after flux filter : {} , {} '.format(len(df['src_id'].unique()) , len(df)))
for f in filter_flags:
    df = df[df[f]==False]
print('AFTER FILTERING')
#display(df)
df = df.drop(columns=col_to_drop)
print('Number of sources , obs after flux filter : {} , {} '.format(len(df['src_id'].unique()) , len(df)))

BEFORE FILTERING
Number of sources , obs after flux filter : 87 , 1079
AFTER FILTERING
Number of sources , obs after flux filter : 72 , 1044

In [45]:
from features import arranged_cols  , id_cols

In [46]:
df_id = df[id_cols]
df_val = df.drop(columns=id_cols)
val_col_list = df_val.columns.to_list()
for v in val_col_list:
    df_val.loc[:,v] = pd.to_numeric(df_val.loc[:,v])
df_val

,photflux_aper_s,photflux_aper_lolim_s,photflux_aper_hilim_s,flux_aper_s,flux_aper_lolim_s,flux_aper_hilim_s,streak_src_flag,likelihood_b,likelihood_h,likelihood_m,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,0.000000,0.000000,7.766000e-07,0.000000e+00,0.000000e+00,1.375000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,0.000000,0.000000,1.703000e-06,0.000000e+00,0.000000e+00,2.319000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,0.000002,0.000000,3.109000e-06,2.936000e-15,1.727000e-16,5.699000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,0.000000,0.000000,1.492000e-06,0.000000e+00,0.000000e+00,2.031000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,0.000000,0.000000,1.476000e-06,0.000000e+00,0.000000e+00,2.011000e-15,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_82_obs_0,0.000039,0.000034,4.397000e-05,1.095000e-13,9.545000e-14,1.236000e-13,False,634.48,51.36,218.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,0.000325,0.000310,3.380000e-04,5.641000e-13,5.392000e-13,5.876000e-13,False,7292.73,762.11,2011.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_84_obs_0,0.000006,0.000005,6.683000e-06,1.187000e-14,1.015000e-14,1.359000e-14,False,301.47,21.27,165.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_85_obs_0,0.000000,0.000000,4.070000e-06,0.000000e+00,0.000000e+00,4.148000e-15,False,236.89,216.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,0.000022,0.000020,2.332000e-05,3.936000e-14,3.627000e-14,4.226000e-14,False,5192.96,2344.62,1732.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df_ok = pd.concat([df_id , df_val] , axis=1)
df_ok

,src_id,num_obs,sepn,name,src_n,ra,dec,livetime,significance,likelihood,...,var_inter_sigma_h,var_inter_index_m,var_inter_prob_m,var_inter_sigma_m,var_inter_index_s,var_inter_prob_s,var_inter_sigma_s,var_inter_index_u,var_inter_prob_u,var_inter_sigma_u
obs_id,,,,,,,,,,,,,,,,,,,,,
CV_0_obs_0,CV_0,33,0.000000,2CXO J004245.0+411520,[HPH2013]_176__________,10.68773,41.25582,4903.5,11.31,304.4646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_1,CV_0,33,0.000000,2CXO J004245.0+411520,[HPH2013]_176__________,10.68773,41.25582,3974.2,11.31,304.4646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_2,CV_0,33,0.000000,2CXO J004245.0+411520,[HPH2013]_176__________,10.68773,41.25582,3907.5,11.31,304.4646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_3,CV_0,33,0.000000,2CXO J004245.0+411520,[HPH2013]_176__________,10.68773,41.25582,3907.5,11.31,304.4646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_0_obs_4,CV_0,33,0.000000,2CXO J004245.0+411520,[HPH2013]_176__________,10.68773,41.25582,3907.5,11.31,304.4646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV_82_obs_0,CV_82,1,0.004347,2CXO J123111.3-141143,CXOGLB_J002405.3-720421,187.79710,-14.19553,9936.3,9.99,634.4813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_83_obs_0,CV_83,1,0.000000,2CXO J190109.3-220005,2XMM_J190109.3-220003__,285.28900,-22.00164,5049.0,31.89,7292.7310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_84_obs_0,CV_84,1,0.000000,2CXO J231518.9-591028,2XMM_J231519.0-591029__,348.82880,-59.17455,49313.1,10.04,301.4733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_85_obs_0,CV_85,1,0.000000,2CXO J162006.7-500159,CHI_J162011-5002_1_____,245.02790,-50.03310,1531.0,5.79,236.8926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CV_86_obs_0,CV_86,1,0.004347,2CXO J122758.7-485343,XSS_J12270-4859________,186.99480,-48.89537,30178.9,27.61,5192.9650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
from features import phot_flux , phot_flux_hilim , phot_flux_lolim , en_flux , en_flux_hilim , en_flux_lolim

In [49]:
flux_cols =  en_flux + en_flux_hilim + en_flux_lolim

In [50]:
from features import phot_flux , phot_flux_hilim , phot_flux_lolim , en_flux , en_flux_hilim , en_flux_lolim
flux_cols =  en_flux + en_flux_hilim + en_flux_lolim 
df_flux_filt = df_ok.copy().replace(np.nan , -998741)
for f in flux_cols:
    df_flux_filt = df_flux_filt.query(f+'<1e-12')
df_flux_filt = df_flux_filt.replace(-998741 , np.nan)
print('Number of sources , obs after flux filter : {} , {} '.format(len(df_flux_filt['src_id'].unique()) , len(df_flux_filt)))
df_flux_filt = df_flux_filt.query('likelihood > 50')
df_flux_filt = df_flux_filt.query('significance > 3')
print('Number of sources , obs after sig filter : {} , {} '.format(len(df_flux_filt['src_id'].unique()) , len(df_flux_filt)))

Number of sources , obs after flux filter : 65 , 1007
Number of sources , obs after sig filter : 60 , 994

In [51]:
len(df_flux_filt['src_id'].unique())

60

In [52]:
df_flux_filt.to_csv('filtered_data/cv_old_data.csv')