In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('pulsars/atnf_catalogue.csv' , comment='#' , delimiter=';' , index_col = 'INDEX' , na_values='*').iloc[: , :-1]
df

,NAME,PSRJ,RAJ,DECJ,RAJD,DECJD,BINCOMP,ASSOC,SURVEY,PSR
INDEX,,,,,,,,,,
1,J0002+6216,J0002+6216,00:02:58.1,+62:16:09.4,0.742375,62.269278,NaN,"GRS:4FGL_J0002.8+6217[fermi21],XRS:1XSPS",FermiBlind,HE[wcp+18]
2,J0006+1834,J0006+1834,00:06:04.8,+18:34:59,1.520000,18.583056,NaN,NaN,ar4,NaN
3,J0007+7303,J0007+7303,00:07:01.7,+73:03:07.4,1.757083,73.052056,NaN,"GRS:4FGL_J0007.0+7303[fermi21],XRS:RX_J0",FermiBlind,NRAD
4,J0011+08,J0011+08,00:11:34,+08:10,2.891667,8.166667,NaN,NaN,ar327,NaN
5,B0011+47,J0014+4746,00:14:17.7,+47:46:33.4,3.573958,47.775944,NaN,NaN,"gb1,gb2,gb3,lotaas",NaN
...,...,...,...,...,...,...,...,...,...,...
3173,J2351+8533,J2351+8533,23:51:03,+85:33:20.6,357.763734,85.555735,NaN,NaN,"gbncc,lotaas",NaN
3174,J2352+65,J2352+65,23:52,+65,358.000000,65.000000,NaN,NaN,"gb350,gbncc,lotaas",NaN
3175,J2354-22,J2354-22,23:54:26,-22:51:53,358.608333,-22.864722,NaN,NaN,htru_pks,NaN
3176,B2351+61,J2354+6155,23:54:04.7,+61:55:46.8,358.519929,61.929679,NaN,NaN,"gb1,gb2,gb3,gb4,gbncc,lotaas",NaN
3177,J2355+2246,J2355+2246,23:55:49.8,+22:46:17,358.957500,22.771389,NaN,NaN,gbncc,NaN

In [17]:
df['BINCOMP'].value_counts()

He[san16]        11
He                6
He[hrs+07]        6
He[rhs+05]        5
He[lfl+06]        4
                 ..
He(?)[rhs+05]     1
CO(?)[lsk+18]     1
MS[lht14]         1
NS[lsk+18]        1
He[fsk+04]        1
Name: BINCOMP, Length: 206, dtype: int64

In [12]:
type = df['PSR'].value_counts()
type

*                     2726
RRAT                    80
HE                      71
NRAD                    62
AXP,NRAD                19
                      ...
HE[wob+04,aaa+09f]       1
HE[yhh94]                1
HE[umw+93,ppp+09]        1
HE[tst+01]               1
HE[aaa+09]               1
Name: PSR, Length: 114, dtype: int64

In [4]:
df[df['class']]